body {
    background-image: linear-gradient(135deg, var(--theme-color) 3%, var(--aux-color));
    background-size: 500%;
}

.presentation {
    height: calc(100vh - var(--header-height));
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    position: relative;
}

.presentation h1 {
    font-size: 3em;
    margin: 10px 0;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.presentation h2 {
    color: #0582CA;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-size: 1.2em;
}

.presentation-name {
    color: var(--aux-color);
}

.presentation-profession {
    color: #0582CA;
    font-size: 3em;
}

.presentation-about-me {
    color: var(--minor-color);
    font-size: 1em;
    line-height: 1.7em;
    margin: 20px 0;
}

.presentation-button {
    background-color: #0582ca;
    padding: 25px 100px;
    border-radius: 10px;
    border-bottom-right-radius: 35px;
    color: var(--minor-color);
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 1.1em;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out, transform 200ms;
}

.presentation-button:hover {
    background-color: #00A6FB;
    color: #051923;
    transform: scale(1.03);
}