.projects-title {
    color: var(--aux-color);
    font-size: 1.5em;
    padding-top: 20px;
}

.projects {
    display: flex;
    align-items: center;
}

.card {
    background-color: var(--aux-color);
    transition: background-color 200ms, border-radius 500ms;
}

.card:hover {
    background-color: var(--aux-color-dark);
    border-radius: 1rem;
}

.project-card-buttons {
    display: flex;
    justify-content: space-around;
}