.projects-title {
    color: var(--aux-color);
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 40px;
}

.projects {
    display: flex;
    align-items: center;
}
/* Cards */
.cards {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, auto));
    gap: 2em;
}

.card {
    background-color: var(--aux-color);
}

.project-card-buttons {
    display: flex;
    justify-content: space-around;
}